.footer-main{
    padding-top: 15px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 5px 0;
    margin-bottom: 5px;
}
.add-icon{
    float: left;
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    height: 60px;
    line-height: 55px;
    width: 60px;
    margin-right: 65px;
    text-align: center;
}
.add-icon img{
    margin-bottom: 8px;
    margin-left: 50px;
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #27303b;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 14px;
    color: #000000;
    font-weight: 320;
}
.add-content p a{
    font-size: 14px;
    color: #000000;
    font-weight: 320;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #000000;
}