body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f8fa !important; /* Gray background color */
  height: 100vh;
  background: none; /* Remove background image */
}

.LinkStyle {
  display: block;
  width: 100%;
}
